In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_excel('depression.xls')

In [ ]:
df

In [ ]:
df['Gender'] = df['Gender'].map({1: 'Male',2: 'Female'})

In [ ]:
df

In [3]:
df = pd.read_excel("friends.xls")
df

            Friends
0      Opposite sex
1     No difference
2      Opposite sex
3     No difference
4      Opposite sex
...             ...
1195  No difference
1196   Opposite sex
1197  No difference
1198   Opposite sex
1199  No difference

[1200 rows x 1 columns]

In [15]:
counts = df['Friends'].value_counts()
prop = df['Friends'].value_counts(normalize=True)*100
print("Value Count:\n",counts)

No difference    602
Opposite sex     434
Same sex         164
Name: Friends, dtype: int64

 No difference    50.166667
Opposite sex     36.166667
Same sex         13.666667
Name: Friends, dtype: float64